::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background:  #a0ebfd;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #666;
  margin: 0;
  overflow-y: scroll; 
}












/* Start content --------------------------------------------------------------------------- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div.content_body {
  height:auto; 
  width:70%;
  /* background-color: #888; */
  margin: 0% 0% 0% 15%; 
  padding: 1%; 
}

img {
  width:100%;
}

div.project_div {
  /* border: 1px solid red;  */
  border-radius: 10px;
  padding: 1%; 
  margin-top: 2%; 
  background-color: #888; 
}

div.iteration_div {
  border: 1px solid #999; 
  border-radius: 10px;
  padding: 1%; 
  margin-top: 2%; 
}

div.blurb_div {
  /* border: 1px solid #a0ebfd;  */
  background-color: #8A8A8A; 

  border-radius: 10px;
  padding: 1%; 
  display: flex;
}

div.left_blurb_item {
  /* border: 10px solid blue;  */
  width: 50%;
}

div.right_blurb_item {
  /* border: 10px solid purple;  */
  width: 50%;
}
/* end content ----------------------------------------------------------------------------- */












/* Start mobile Nav bar -------------------------------------------------------------------- */
/* Responsive Navigation Bar Tutorial | HTML & CSS https://dev.to/chaoocharles/responsive-navigation-bar-tutorial-html-css-3fb2 */

nav {
  height: 70px;
  background: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo h1 {
  font-style: italic;
  cursor: pointer;
  margin: 0 0.5rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.overview {
  display: flex;
}

.overview {
  margin-right: 4rem;
}

nav li {
  list-style: none;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

nav a:hover {
  color: #a0ebfd;
}

nav a::after {
  content: "";
  display: block;
  height: 3px;
  background: #a0ebfd;
  width: 0%;
  transition: all ease-in-out 300ms;
}

nav a:hover::after {
  width: 100%;
}

a.nav_bar.active {
  color: #a0ebfd;
  text-decoration: underline;
}

.overview_mobile {
  display: none;
}












/* Responsive */
@media (max-height: 450px) {
  .overview {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 35px; 
    padding-right: 75%; /* breaks the underline animation for some reason */
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .overview_mobile {
    display: block;
  }

  .overview {
    flex-direction: column;
  }

  .nav-items_mobile {
    position: relative;
    display: inline-block;
  }

  .nav-items {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(20, 20, 20);
    box-shadow: 8px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 8% 0% 2% 0%;
    z-index: 1;
  }
  
  .nav-items_mobile:hover .nav-items {
    display: block;
  }

  nav li {
    margin: 1rem 0;
  }

  /* End mobile Nav bar ---------------------------------------------------------------------- */












  /* Start mobile content -------------------------------------------------------------------- */

  div.content_body {
    height:auto; 
    width:100%;
    background-color: #888;
    margin: 0% 0% 0% 0%;
  }

  div.blurb_div {
    display: block;
  }

  div.left_blurb_item {
    width: 100%;
  }
  
  div.right_blurb_item {
    width: 100%;
  }

  /* End mobile content ---------------------------------------------------------------------- */
}