body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #666;
  /* margin: 0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div.content_body {
  /* padding-top:3%; */
  height:auto; 
  width:70%;
  background-color: #888;
  margin: 0% 0% 0% 15%;
}

/* div.nav_bar_container {
	width: 100%;
	position: fixed;
	background-image: linear-gradient(#555, #666);
    z-index: 1;
}

div.nav_bar {
	height: 5%;
	width: 70%;
	margin: 0% 0% 0% 15%;
	padding-bottom: .75%;
	padding-top: .75%;
    float: left; 
}

a.nav_bar {
    color: #04AA6D; 
    text-decoration: none;
    border-right: 1px solid #fff; 
    float:right;
}

a.nav_bar:hover {
    color: #000000; 
    background-color: #04AA6D;
}

a.nav_bar.active {
    background-color: #04AA6D;
    color: white;
}

a.nav_bar_name {
    color: #04AA6D; 
    text-decoration: none;
} */










/* Responsive Navigation Bar Tutorial | HTML & CSS https://dev.to/chaoocharles/responsive-navigation-bar-tutorial-html-css-3fb2 */

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  /* font-family: "Rubik", sans-serif; */
}

/* Nav */
nav {
  height: 70px;
  background: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

/* nav svg {
  display: none;
} */
.logo h2 {
  /* text-decoration: overline; */
  font-style: italic;
  /* color: rgb(0, 206, 206); */
  cursor: pointer;
  margin: 0 0.5rem;
}
.nav-items {
  display: flex;
  justify-content: space-between;
}
.overview, .account {
  display: flex;
}
.overview {
  margin-right: 4rem;
}
.nav-items h3 {
  display: none;
}
nav li {
  list-style: none;
  margin: 0 0.5rem;
}
nav a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}
nav a:hover {
  color: #a0ebfd;
}
nav a::after {
  content: "";
  display: block;
  height: 3px;
  background: #a0ebfd;
  width: 0%;
  transition: all ease-in-out 300ms;
}
nav a:hover::after {
  width: 100%;
}

a.nav_bar.active {
  color: #a0ebfd;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .nav-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(20, 20, 20);
    padding: 2rem;
    transition: all ease-in-out 500ms;
  }
/* 
  .nav-items:hover dd
  {
      display: block;
  } */

  .overview {
    flex-direction: column;
    width: auto;
    margin: 0;
  }
  
  .nav-items h3 {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 1rem;
  }
  nav svg {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
  }
  nav li {
    margin: 1rem 0;
  }
  nav a {
    display: inline-block;
  }
  nav a:hover {
    margin-left: 2px;
    transition: all ease-in-out 300ms;
  }
  .menu {
    display: inline-block;
    position: fixed;
    right: 2.5rem;
    z-index: 99;
  }
  #check:checked ~ .nav-items {
    right: 0;
  }
}